<template>
<div class="taskmanagement">
  <!-- Task introduction dialog -->
  <el-dialog :title="`Task`" :visible.sync="taskPanelVisible" width="50%">
    <div class="task-panel" v-if="taskToShow">
      <div>
        <div class="task-panel-label">Task ID</div>
        <div class="task-panel-content">{{taskToShow.id}}</div>
        <div style="clear:both"></div>
      </div>

      <div v-if="taskToShow.title">
        <div class="task-panel-label">Task Title</div>
        <div class="task-panel-content">{{`${taskToShow.title}`}}</div>
        <div style="clear:both"></div>
      </div>

      <!--
      <div>
        <div class="task-panel-label">Sequence</div>
        <div class="task-panel-content">{{`${taskToShow.par.seq}`}}</div>
        <div style="clear:both"></div>
      </div>

      <div>
        <div class="task-panel-label">Secondary Structure</div>
        <div class="task-panel-content">{{`${taskToShow.par.ss}`}}</div>
        <div style="clear:both"></div>
      </div>
      -->
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button type="info" @click="taskPanelVisible=false">Close</el-button>
    </span>
  </el-dialog>

  <!-- Task Results dialog -->
  <el-dialog :title="`Task`" :visible.sync="taskResultPanelVisible" width="50%">
    <div class="task-panel" v-if="taskResult">
      <div>
        <div class="task-panel-label">Task ID</div>
        <div class="task-panel-content">{{taskResult.id}}</div>
        <div style="clear:both"></div>
      </div>

      <div v-if="taskResult.title">
        <div class="task-panel-label">Task Title</div>
        <div class="task-panel-content">{{`${taskResult.title}`}}</div>
        <div style="clear:both"></div>
      </div>

      <!--
      <div>
        <div class="task-panel-label">Sequence</div>
        <div class="task-panel-content">{{`${taskResult.par.seq}`}}</div>
        <div style="clear:both"></div>
      </div>

      <div>
        <div class="task-panel-label">Secondary Structure</div>
        <div class="task-panel-content">{{`${taskResult.par.ss}`}}</div>
        <div style="clear:both"></div>
      </div>
      -->

      <template v-if="taskResult.results">
        <div v-for="cluster in parseInt(taskResult.results.clusters)">
          <div class="task-panel-label">Cluster {{cluster}}:</div>
          <div class="task-panel-content"><a :href="$config.HOST + `/dokhlab/actions/data.php?name=ifoldrna/daemon/exec/${taskResult.id}/dmd.sim/cluster.${cluster}.pdb&as=iFoldRNA-${taskResult.id}-c${cluster}.pdb`" target="_blank">cluster-{{cluster}}.pdb</a></div>
          <div style="clear:both"></div>
        </div>
      </template>
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button type="info" @click="taskResultPanelVisible=false">Close</el-button>
    </span>
  </el-dialog>

  <!-- Delete Task dialog -->
  <el-dialog :title="`Delete Task`" :visible.sync="deleteTaskPanelVisible" width="50%">
    <p>Are you sure to delete the Task {{taskToDelete.id}}?</p>
    <span slot="footer" class="dialog-footer">
      <el-button type="info" @click="deleteTaskPanelVisible=false">Cancel</el-button>
      <el-button type="warning" @click="deleteTask();deleteTaskPanelVisible=false">Confirm</el-button>
    </span>
  </el-dialog>

  <!-- Stop Task dialog -->
  <el-dialog :title="`Stop Task`" :visible.sync="stopTaskPanelVisible" width="50%">
    <p>Are you sure to stop the Task {{taskToStop.id}}?</p>
    <span slot="footer" class="dialog-footer">
      <el-button type="info" @click="stopTaskPanelVisible=false">Cancel</el-button>
      <el-button type="warning" @click="stopTask();stopTaskPanelVisible=false">Stop</el-button>
    </span>
  </el-dialog>

  <!-- Resubmit Task Dialog -->
  <el-dialog :title="`Resubmit Task`" :visible.sync="resubmitTaskPanelVisible" width="50%">
    <div class="task-panel">
      <div v-for="(v, k, i) in form.par">
        <div class="task-panel-label">{{k}}</div>
        <div class="task-panel-content" v-if="!doEditResubmit">{{`${taskToResubmit.par[k]}`}}</div>
        <div class="task-panel-content" v-if="doEditResubmit"><input type='text' v-model='form.par[k]'></div>
        <div style="clear:both"></div>
      </div>

      <!--
      <div>
        <div class="task-panel-label">Sequence</div>
        <div class="task-panel-content" v-if="!doEditResubmit">{{`${taskToResubmit.par.seq}`}}</div>
        <div class="task-panel-content" v-if="doEditResubmit"><input type='text' v-model='form.seq'></div>
      </div>

      <div>
        <div class="task-panel-label">Secondary Structure</div>
        <div class="task-panel-content" v-if="!doEditResubmit">{{`${taskToResubmit.par.ss}`}}</div>
        <div class="task-panel-content" v-if="doEditResubmit"><input type='text' v-model='form.ss'></div>
      </div>
      -->
    </div>

    <span slot="footer" class="dialog-footer">
      <el-button type="info" @click="resubmitTaskPanelVisible=false">Cancel</el-button>
      <el-button type="success" @click="doEditResubmit=true" v-if="!doEditResubmit">Edit</el-button>
      <el-button type="warning" @click="resubmitTask();resubmitTaskPanelVisible=false">Resubmit</el-button>
    </span>
  </el-dialog>

  <!-- Tasks Table -->
  <div class="tasks">
    <div class="tasks-head">
      <div>
        <div class="tasks-column">Task ID</div>
        <div class="tasks-column">Task Title</div>
        <div class="tasks-column">User</div>
        <div class="tasks-column">Submit Time</div>
        <div class="tasks-column">Finish Time</div>
        <div class="tasks-column">Status</div>
        <div style="clear:both"></div>
      </div>
    </div>

    <div class="tasks-body">
      <div v-for="task in tasks" v-if="task.userid==='0'||task.userid===$store.state.user.id||$store.state.user.level==='10'">
        <div class="tasks-column"><span>{{task.id}}</span></div>
        <div class="tasks-column"><span>{{task.title}}</span></div>
        <div class="tasks-column"><span>{{task.userid==='0' ? 'Guest' : task.username}}</span></div>
        <div class="tasks-column"><span v-text="task.tsubmit"></span></div>
        <div class="tasks-column"><span v-text="task.tfinish"></span></div>
        <div class="tasks-column">
          <span>
            <!-- View -->
            <el-tooltip effect="dark" content="View Task" placement="top">
              <!--
              <i style="cursor:pointer" @click="setTaskResult(task);taskResultPanelVisible=true" v-if="task.status==='finished'" class="el-icon-download"></i>
              -->
              <a :href="`#/task/${task.id}`"><i style="cursor:pointer" class="el-icon-view"></i></a>
            </el-tooltip>

            <el-tooltip effect="dark" content="Download" placement="top">
              <!--
              <i style="cursor:pointer" @click="setTaskResult(task);taskResultPanelVisible=true" v-if="task.status==='finished'" class="el-icon-download"></i>
              -->
              <a v-if="task.status==='finished'" :href="$config.HOST + `/ifoldrna/actions/download.php?id=${task.id}`" target="_blank"><i style="cursor:pointer" class="el-icon-download"></i></a>
            </el-tooltip>

            <!-- Queued -->
            <el-tooltip effect="dark" content="Queued" placement="top">
              <i v-if="task.status==='queued'" class="el-icon-tickets"></i>
            </el-tooltip>

            <!-- Failed -->
            <el-tooltip effect="dark" content="Failed" placement="top">
              <i v-if="task.status==='failed'" class="el-icon-warning"></i>
            </el-tooltip>

            <!-- Running -->
            <el-tooltip effect="dark" content="Running" placement="top">
              <i v-if="task.status!=='finished'&&task.status!=='failed'&&task.status!=='queued'" class="el-icon-loading"></i>
            </el-tooltip>

            <!-- Stop Task -->
            <template v-if="$store.state.user && ($store.state.user.level >= 10 || $store.state.user.id === task.userid)">
              <el-tooltip effect="dark" content="Stop Task" placement="top">
                <i style="cursor:pointer" v-if="task.status!=='finished'&&task.status!=='failed'" class="el-icon-close" @click="taskToStop=task;stopTaskPanelVisible=true"></i>
              </el-tooltip>
            </template>

            <!-- Resubmit Task -->
            <!--
            <template v-if="$store.state.user && ($store.state.user.level >= 10 || $store.state.user.id === task.userid)">
              <el-tooltip effect="dark" content="Resubmit Task" placement="top">
                <i style="cursor:pointer" v-if="task.status==='finished'||task.status==='failed'" class="el-icon-upload" @click="setTaskToResubmit(task);doEditResubmit=false;resubmitTaskPanelVisible=true"></i>
              </el-tooltip>
            </template>
            -->

            <!-- Delete Task -->
            <template v-if="$store.state.user && ($store.state.user.level >= 10 || $store.state.user.id === task.userid)">
              <el-tooltip effect="dark" content="Delete Task" placement="top">
                <i style="cursor:pointer" v-if="task.status==='finished'||task.status==='failed'" class="el-icon-delete" @click="taskToDelete=task;deleteTaskPanelVisible=true"></i>
              </el-tooltip>
            </template>
          </span>
        </div>

        <div style="clear:both"></div>

      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios'
import { bus } from '../bus.js'

axios.defaults.headers.post['Content-Type'] = 'multipart/form-data'

export default {
  name: 'TaskManagement',

  data () {
    return {
      taskToShow: '',
      taskToDelete: '',
      taskToStop: '',
      taskToResubmit: '',
      taskResult: '',

      taskPanelVisible: false,
      taskResultPanelVisible: false,
      deleteTaskPanelVisible: false,
      stopTaskPanelVisible: false,
      resubmitTaskPanelVisible: false,

      doEditResubmit: false,

      runningStatus: '<i style="margin-left: 10px" class="el-icon-loading"></i>',
      tasks: [],
      intervalId: 0,

      form: {
        id: '',
        seq: '',
        ss: ''
      }
    }
  },

  methods: {
    post (url, p, cb1 = () => {}, cb2 = () => {}) {
      let parts = [new Blob([JSON.stringify(p)], { type: 'application/json' })]
      let fileToSend = new File(parts, 'front-config.json', {
        type: 'application/json'
      })

      let formData = new FormData()

      formData.append('par', fileToSend)

      axios({
        method: 'post',
        url,
        data: formData,
        config: {headers: {'Content-Type': 'multipart/form-data'}},
        withCredentials: true
      }).then(response => {
        cb1(response)
//        console.log(response)
      }).catch(error => {
        cb2(error)
//        console.log(error.response)
      })
    },

    finishedStatus (id) {
      return '<a href="#/Task/' + id + '"><i style="color:#878d99; margin-left: 10px;" class="view el-icon-view"></i></a>'
    },

    check () {
      var v = this
      axios({
        method: 'get',
        url: v.$config.HOST + '/ifoldrna/actions/check.php',
        withCredentials: true
      }).then(response => {
        v.tasks = response.data.tasks
//        console.log(v.tasks)
        v.tasks = v.tasks.map(t => {
          t.par = t.par ? JSON.parse(t.par) : ''
          t.results = t.results ? JSON.parse(t.results) : ''
          return t
        })
        v.tasks.sort((a, b) => {
          return Date.parse(b.tsubmit) - Date.parse(a.tsubmit)
          /*
          let x = parseInt(a.userid)
          let y = parseInt(b.userid)
          if (x === y) {
            return Date.parse(b.tsubmit) - Date.parse(a.tsubmit)
          } else {
            return y - x
          }
          */
        })
      }).catch(() => {
        console.log('Set tasks failed')
      })
    },

    deleteTask () {
      var v = this
      axios({
        method: 'get',
        url: `${v.$config.HOST}/ifoldrna/actions/delete_task.php?id=${v.taskToDelete.id}`,
        withCredentials: true
      }).then(response => {
        console.log(response.data)
//        alert('Delete successfully')
      }).catch(() => {
        alert('Delete failed')
      })
    },

    stopTask () {
      var v = this
      axios({
        method: 'get',
        url: `${v.$config.HOST}/ifoldrna/actions/stop_task.php?id=${v.taskToStop.id}`,
        withCredentials: true
      }).then(response => {
        console.log(response.data)
//        alert('Stop successfully')
      }).catch(() => {
        alert('Stop failed')
      })
    },

    setTaskToResubmit (task) {
      var v = this
      console.log('Resubmit...')
      console.log(JSON.stringify(task))
      v.taskToResubmit = task

      v.form.id = task.id
      v.form.par = {}
      for (let i in task.par) {
        v.form.par[i] = task.par[i]
      }
    },

    setTaskResult (task) {
      let v = this
      v.taskResult = task
      console.log('Task:')
      console.log(task)
    },

    resubmitTask () {
      let v = this
//      let p = {}
//      p.id = v.form.id
//      p.par = v.form.par
//      for (let i in v.form.par) {
//        p[i] = v.form.par[i]
//      }

      let url = v.$config.HOST + `/ifoldrna/actions/resubmit.php`
      v.post(url, v.form, response => {
        alert('Resubmitted Successfully!')
      })
    }
  },

  mounted () {
    this.$nextTick(function () {
      bus.$emit('switch-router', 'TaskManagement')

      var v = this
      v.check()
      v.intervalId = setInterval(function () {
        v.check()
      }, 5000)
    })
  },

  destroyed () {
    var v = this
    clearInterval(v.intervalId)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.taskmanagement {
  margin-left: 10px;
  height: 100%;
}

.el-form-item {
  margin-bottom: 3px;
}

.tasks {
  text-align: center;
  color: rgb(96, 98, 102);
  margin: 30px 0px;
}

.tasks-body {
  height: 600px;
  overflow-y: auto;
  overflow-x: auto;
  word-wrap: break-word;
}

.tasks-head .tasks-column {
  color: #878d99;
  /*
  padding: 12px 12px 0px 12px;
  */
}

.tasks-column {
  width: 90px;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  float: left;
}

.tasks-column >span {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
}

.tasks-body >div:nth-child(odd) {
  background-color: #eeeeee;
}

.task-panel {
  width: 600px;
  max-height: 400px;
  overflow-y: auto;
}

.task-panel-label {
  float: left;
  width: 150px;
  max-width: 150px;
  margin: 10px;
}

.task-panel-content {
  margin: 10px;
  float: left;
  width: 350px;
  max-width: 350px;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
}

</style>
