<template>
<div>
  <div style="border-bottom: 2px dotted #111111;font: normal normal 18px 'trebuchet ms', georgia, arial;color: #686667;margin-bottom:30px">
    Admin User List
  </div>
  <div>
    <div class="user-row user-head">
      <div class="user-username">Username</div>
      <div class="user-firstname">First Name</div>
      <div class="user-lastname">Last Name</div>
      <div class="user-organization">Organization</div>
      <div class="user-level">Level</div>
      <!--
      <div class="user-approved">Approved</div>
      -->
      <div class="user-action">Action</div>
    </div>

    <div v-for="(user, id) in users" class="user-row">
      <div class="user-username">{{user.username}}</div>
      <div class="user-firstname">{{user.firstname}}</div>
      <div class="user-lastname">{{user.lastname}}</div>
      <div class="user-organization">{{user.affiliation}}</div>
      <div class="user-level">{{user.level}}</div>
      <!--
      <div class="user-approved">{{user.approved}}</div>
      -->
      <div class="user-action"><i class="el-icon-edit user-action-button" @click="editUser(user)"></i><i class="el-icon-delete user-action-button" @click="deleteUser(user)"></i><i class="el-icon-message user-action-button" @click="messageUser(user)"></i></div>
    </div>
  </div>

  <el-dialog title="Edit User" :visible.sync="edittingUser">
    <div style="height: 500px; overflow-y: auto">
      <el-form :model="userToEdit" label-width="80px">

        <el-form-item v-for="(col, name) in userToEdit" :key="name" :label="name">
          <el-input type="textarea" autosize v-model="userToEdit[name]" auto-complete="off" :disabled="name==='id'"></el-input>
        </el-form-item>
      </el-form>
    </div>

    <div slot="footer" class="dialog-footer">
      <el-button @click="edittingUser=false">Cancel</el-button>
      <el-button type="primary" @click="eddittingUser=false;updateUser()">Update</el-button>
    </div>
  </el-dialog>
</div>

</template>

<script>
// import { bus } from '../bus.js'
import axios from 'axios'

export default {
  name: 'Users',

  data () {
    return {
      users: [],
      edittingUser: false,
      userToEdit: {}
    }
  },

  methods: {
    editUser (user) {
      this.userToEdit = user
      this.edittingUser = true
    },

    updateUser () {
      let v = this

      let content = {}
      for (let i in v.userToUpdate) {
        content[i] = v.userToUpdate[i]
      }
      content['__table'] = 'users'
      content['__key'] = 'id'

      let parts = [new Blob([JSON.stringify(content)], { type: 'application/json' })]
      let fileToSend = new File(parts, 'front-config.json', {
        type: 'application/json'
      })

      let formData = new FormData()
      formData.append('file', fileToSend)

      axios({
        method: 'post',
        url: v.$config.HOST + `/dokhlab/actions/update.php`,
        data: formData,
        config: {headers: {'Content-Type': 'multipart/form-data'}},
        withCredentials: true
      }).then(response => {
        v.resetUsers()
        alert(`Update successfully!`)
        v.edittingUser = false
      }).catch(() => {
        alert(`Update failed!`)
        v.edittingUser = false
      })
    },

    deleteUser (user) {
      let v = this
      let r = window.confirm(`Are you sure to delete this '${user.username}'?`)
      if (r) {
        let content = {}
        content['id'] = user.id
        content['__table'] = 'users'

        let parts = [new Blob([JSON.stringify(content)], { type: 'application/json' })]
        let fileToSend = new File(parts, 'front-config.json', {
          type: 'application/json'
        })

        let formData = new FormData()
        formData.append('file', fileToSend)

        axios({
          method: 'post',
          url: v.$config.HOST + `/dokhlab/actions/erase.php`,
          data: formData,
          config: {headers: {'Content-Type': 'multipart/form-data'}},
          withCredentials: true
        }).then(response => {
          v.resetUsers()
          alert(`Deletion Successful!`)
        }).catch(() => {
          alert(`Deletion Failed!`)
        })
      }
    },

    messageUser (user) {
      window.location.href = `mailto:${user.email}`
    },

    resetUsers () {
      let v = this
      axios({
        method: 'get',
        url: v.$config.HOST + '/dokhlab/actions/table.php?name=users',
        withCredentials: true
      }).then(response => {
        v.users = response.data
      }).catch(error => {
        console.log(error.response)
      })
    }
  },

  mounted () {
    let v = this
    v.resetUsers()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.user-row {
  display: flex;
  flex-direction: row;
  color: #686868;
  padding: 5px;
}

.user-row.user-head {
  font-weight: bold;
}

.user-row:nth-child(odd) {
  background: #eeeeee;
}

.user-username {
  min-width: 100px;
}

.user-firstname {
  min-width: 100px;
}

.user-lastname {
  min-width: 100px;
}

.user-organization {
  min-width: 100px;
}

.user-level {
  min-width: 60px;
}

.user-approved {
  min-width: 100px;
}

.user-action {
  min-width: 130px;
}

.user-action-button {
  cursor: pointer;
  margin: 0px 3px;
}

</style>

